html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif, Montserrat;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.spinner {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: radial-gradient(farthest-side,#4f45e4 94%,#0000) top/9px 9px no-repeat,
         conic-gradient(#0000 30%,#4f45e4);
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 9px),#000 0);
  animation: spinner-c7wet2 1s infinite linear;
}
.spinner-white {
 width: 1.3rem;
 height: 1.3rem;
 border-radius: 50%;
 background: radial-gradient(farthest-side,#ffffff 94%,#0000) top/0.1rem 0.1rem no-repeat,
        conic-gradient(#0000 30%,#ffffff);
 -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 0.2rem),#000 0);
 animation: spinner-c7wet2 1s infinite linear;
}

@keyframes spinner-c7wet2 {
  100% {
     transform: rotate(1turn);
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: black;
    background-image: url("../public/images/background-mobile.png");
    background-position: center;
    background-size: cover;
    background-color: white;
  }
  .codeIcon{
    background-image: url("../public//images//codeIcon.png");
  }
  .desktopIcon{
    background-image: url("../public//images//desktopIcon.png");
  }
  .safetyIcon{
    background-image: url("../public//images//safetyIcon.png");
  }
  .contractIcon{
    background-image: url("../public//images//contractIcon.png");
  }
  .findIcon{
    background-image: url("../public//images//findIcon.png");
  }
  .ubraniaLogo{
    background-image: url("../public//images//ubrania.png");
  }
  .cityParkLogo{
    background-image: url("../public//images//citypark.png");
  }
  .dataIcon{
    background-image: url("../public//images//dataIcon.png");
  }
  .phoneIcon{
    grid-area: phoneIcon;
    color: white;
    width: 8vw;
    height: 8vw;
  }
  .discountImage{
    background-image: url("../public//images//macbookpanels.png");
  }
  @media only screen and (min-width: 768px) {
    body {
      background-image: url("../public/images/background.png");
    }
    .phoneIcon{
      grid-area: phoneIcon;
      color: white;
      width: 2.5vw;
      height: 2.5vw;
    }
  }
}
